.advantages {
  padding-top: size(120px);
  padding-bottom: size(120px);
  background-color: $color-ghost-white;

  @include vp-1365 {
    padding-top: size(100px);
    padding-bottom: size(100px);
  }

  @include vp-767 {
    padding-top: size(70px);
    padding-bottom: size(48px);
  }

  h2 {
    font-family: $ff-alumni;
    color: $color-sapphire;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    text-align: center;
    margin: 0 0 size(50px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
      margin: 0 0 size(55px);
    }
  }
}

.advantages__wrapper {
  @include vp-767 {
    padding: 0;
  }
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  justify-content: center;
  row-gap: 34%;
  margin: 0;

  @include vp-1365 {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: size(40px);
    column-gap: size(50px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: size(35px);
    align-items: center;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin: 0 0 size(8px) 0;
    font-size: size(22px);
    font-weight: 400;
    line-height: size(22px);

    @include vp-1365 {
      margin: 0 0 size(12px);
      font-size: size(20px);
      line-height: size(20px);
    }

    @include vp-767 {
      font-size: size(18px);
      margin: 0 0 size(13px);
    }
  }

  h4 {
    margin: 0;
    font-size: size(16px);
    font-weight: 300;

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
      margin: 0 size(8px);
    }
  }

  span {
    font-size: size(70px);
    font-weight: 700;
    line-height: size(70px);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(142deg, $color-crimson 0%, #0041ca 88%);

    @include vp-767 {
      font-size: size(64px);
      line-height: size(64px);
      width: fit-content;
    }
  }

  p {
    margin: 0;
    font-size: size(14px);
    font-weight: 400;
    line-height: size(22px);
    color: #2e35ac;
    user-select: none;

    @include vp-767 {
      line-height: size(20px);
    }
  }
}

.advantages__item {
  max-width: size(340px);
  display: flex;
  flex-direction: row-reverse;
  gap: size(30px);
  justify-content: flex-end;

  @include vp-1365 {
    max-width: size(314px);
    gap: size(15px);
  }

  @include vp-767 {
    flex-direction: column-reverse;
    gap: size(12px);
    max-width: size(227px);
    align-items: center;
  }

  &:nth-child(3n) {
    padding: size(30px);
    flex-direction: column-reverse;
    margin: size(4px) size(60px) 0 size(60px);
    max-width: size(240px);
    min-height: size(340px);
    grid-area: 1/2/3/3;
    background-color: $color-resolution-blue;
    color: $color-default-white;
    justify-content: center;
    text-align: center;
    gap: size(36px);

    @include vp-1365 {
      grid-area: 2/1/3/3;
      min-height: unset;
      justify-self: center;
      min-width: size(400px);
      padding: size(35px);
      margin: 0;
      gap: size(25px);
    }

    @include vp-767 {
      min-width: unset;
      max-width: unset;
      width: 100%;
      padding: size(30px) size(35px) size(40px);
      gap: size(18px);
      margin: size(4px) 0;
    }

    span {
      margin: 0 0 size(12px) 0;
      color: $color-default-white;

      @include vp-1365 {
        margin: 0 0 size(25px);
      }

      @include vp-767 {
        margin: 0 size(8px) size(6px);
      }
    }

    p {
      font-size: size(26px);
      font-weight: 700;
      line-height: size(26px);
      color: $color-default-white;

      @include vp-1365 {
        font-size: size(24px);
        line-height: size(24px);
      }

      @include vp-767 {
        font-size: size(22px);
        line-height: size(22px);
      }
    }

    h3 {
      font-size: size(16px);
      font-weight: 400;
      line-height: size(24px);
      margin: 0 0 size(11px);

      @include vp-1365 {
        margin: 0 size(57px);
      }

      @include vp-767 {
        font-size: size(14px);
        font-weight: 300;
        line-height: size(22px);
        margin: 0 size(30px);
        letter-spacing: size(0.2px);
        padding-top: size(2px);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: size(340px);
      border-bottom: size(2px) solid rgba(209, 10, 66, 0.2);
      left: 12%;

      @include vp-1365 {
        content: unset;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: size(340px);
      border-bottom: size(2px) solid rgba(209, 10, 66, 0.2);
      right: 12%;

      @include vp-1365 {
        content: unset;
      }
    }
  }

  &:first-child {
    span {
      color: transparent;
      background-clip: text;
      background-image: $additional-red-to-right;
    }

    h3 {
      @include vp-767 {
        margin: 0 0 size(12px);
      }
    }

    h4 {
      @include vp-767 {
        margin: 0 size(33px);
        // padding-left: size(3px);
      }
    }
  }
}
