.announcement__wrapper {
  background-color: $color-default-white;
  padding-top: size(121px);
  padding-bottom: size(120px);

  @include vp-1365 {
    padding-top: size(100px);
    padding-bottom: size(100px);
  }

  @include vp-767 {
    padding-top: size(70px);
    padding-bottom: size(70px);
  }
}

.announcement__main {
  display: flex;
  flex-direction: row;

  @include vp-767 {
    flex-direction: column;
  }
}
