.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-1365 {
    flex-direction: column;
    align-items: center;
    gap: size(40px);
  }

  @include vp-767 {
    gap: size(35px);
  }
}

.card-list__item {
  padding: size(58px) size(60px);
  text-align: center;
  background-color: $color-default-white;
  min-width: size(360px);
  border: size(7px) solid $color-default-white;
  position: relative;
  z-index: 10;
  overflow: hidden;
  outline: none;

  &.is-active {
    border: size(7px) solid $color-crimson;
    border-image: linear-gradient(135deg, $color-crimson 20%, #00359f 100%);
    border-image-slice: 1;
  }

  &::before {
    content: "0";
    position: absolute;
    z-index: -1;
    font-size: size(100px);
    font-style: normal;
    font-weight: 700;
    line-height: size(150px);
    color: #e8e8e8;
    opacity: 0.48;
    top: size(130px);
    right: size(70px);
    letter-spacing: size(1px);
  }

  &--coach {
    &::before {
      content: "5000";
    }
  }

  &--daily {
    &::before {
      content: "1700";
    }
  }

  &--full {
    &::before {
      content: "2700";
    }
  }

  &--coach-six {
    &::before {
      content: "30000";
      right: 13%;
    }
  }

  &--daily-six {
    &::before {
      content: "10200";
      right: 13%;
    }
  }

  &--full-six {
    &::before {
      content: "16200";
      right: 13%;
    }
  }

  &--coach-twelve {
    &::before {
      content: "60000";
      right: 13%;
    }
  }

  &--daily-twelve {
    &::before {
      content: "20400";
      right: 13%;
    }
  }

  &--full-twelve {
    &::before {
      content: "32400";
      right: 13%;
    }
  }

  @include hover-focus {
    border: size(7px) solid $color-crimson;
    border-image: linear-gradient(135deg, $color-crimson 20%, #00359f 100%);
    border-image-slice: 1;
  }

  @include vp-1365 {
    min-width: size(440px);
    padding: size(59px) size(57px) size(57px);

    &::before {
      top: size(143px);
      right: size(115px);
    }
  }

  @include vp-767 {
    min-width: unset;
    max-width: unset;
    padding: size(45px) size(20px) size(43px);
    width: 100%;

    &::before {
      font-size: size(80px);
      line-height: size(120px);
      top: size(122px);
      right: size(57px);
      letter-spacing: unset;
    }
  }
}

.card-list__title {
  font-size: size(26px);
  line-height: size(26px);
  margin: size(2px) 0 size(6px);

  @include vp-1365 {
    font-size: size(24px);
    line-height: size(24px);
    margin: 0 0 size(14px);
  }

  @include vp-767 {
    font-size: size(22px);
    line-height: size(22px);
    margin: 0 0 size(14px);
  }
}

.card-list__subtitle {
  font-size: size(16px);
  font-weight: 300;
  margin: 0;
  margin-bottom: size(69px);

  @include vp-1365 {
    margin-bottom: size(68px);
    color: #495a7d;
  }

  @include vp-767 {
    font-size: size(14px);
    line-height: size(22px);
    margin-bottom: size(57px);
  }
}

.card-list__price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: size(35px);
  justify-content: center;

  @include vp-1365 {
    margin-bottom: size(24px);
  }

  @include vp-767 {
    margin-bottom: size(23px);
  }
}

.card-list__value {
  font-size: size(60px);
  font-weight: 700;
  line-height: size(90px);
  color: $color-egyptian-blue;
  margin: 0;
  margin-right: size(15px);
  user-select: none;

  @include vp-767 {
    font-size: size(48px);
    line-height: size(72px);
    margin-right: size(10px);
  }
}

.card-list__rouble {
  svg {
    width: size(30px);
    height: size(42px);

    @include vp-767 {
      width: size(24px);
      height: size(33px);
    }
  }
}

.card-list__button {
  font-size: size(12px);
  font-weight: 700;
  line-height: size(12px);
  letter-spacing: size(0.6px);
  text-transform: uppercase;
  justify-content: center;
  color: $color-sapphire;
  border: size(2px) solid $color-sapphire;
  padding: size(25px) size(43px);
  background-color: $color-default-white;
  user-select: none;
  transition: 0.4s;

  @include hover-focus {
    background: $outlining-red-to-right;
    border-image: $outlining-red-to-right;
    border-image-slice: 1;
    color: $color-default-white;
  }

  @include active {
    background: $outlining-red-to-right;
    border-image: $outlining-red-to-right;
    border-image-slice: 1;
    color: rgba(255, 255, 255, 0.7);
  }

  @include disabled {
    opacity: 0.3;
  }

  @include vp-1365 {
    padding: size(20px) size(42px);
  }

  @include vp-767 {
    padding: size(20px);
    width: 100%;
    max-width: size(205px);
  }

  &.is-active {
    background: $outlining-red-to-right;
    border-image: $outlining-red-to-right;
    border-image-slice: 1;
    color: $color-default-white;

    @include hover-focus {
      background: none;
      border-image: unset;
      border-color: $color-sapphire;
      background-color: $color-default-white;
      color: $color-egyptian-blue;
    }

    @include active {
      background: none;
      border-image: unset;
      border-color: $color-sapphire;
      background-color: $color-default-white;
      color: $color-sapphire;
    }

    @include disabled {
      opacity: 0.5;
    }
  }
}
