.competition__title {
  font-size: size(18px);
  font-weight: 300;
  margin: 0;
  padding-bottom: size(7px);

  &--time {
    padding-bottom: size(13px);
  }

  @include vp-1365 {
    padding-bottom: unset;
  }

  @include vp-767 {
    font-size: size(16px);
    line-height: size(20px);
    padding-bottom: size(2px);
  }
}

.competition__info {
  font-size: size(40px);
  font-weight: 700;
  line-height: size(40px);
  padding-right: size(4px);

  &--time {
    border-top: size(1px) solid $color-default-white;
    padding-right: unset;
    // letter-spacing: size(1px);
  }

  @include vp-1365 {
    font-size: size(24px);
    line-height: size(24px);
    padding-right: unset;
  }
}

.competition__additional {
  font-size: size(14px);
  font-weight: 400;
  line-height: size(14px);
  display: inline-block;

  @include vp-1365 {
    font-size: size(10px);
    line-height: size(10px);
  }
}

.competition__date {
  padding: size(4px) 0 size(20px) 0;
  border-top: size(1px) solid $color-default-white;
  width: fit-content;

  @include vp-1365 {
    padding: 0 0 size(6px);
  }

  @include vp-767 {
    padding-bottom: size(4px);
  }
}
