.feedback {
  padding-top: size(120px);
  padding-bottom: size(120px);

  h2 {
    font-family: $ff-alumni;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    margin: 0;
    text-align: center;
    margin-bottom: size(36px);
  }
}

.feedback__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 100%;
  position: relative;
}

.feedback__wrapper {
  width: 100%;
  height: 100%;
}

.feedback__slide {
  padding: size(60px);
  background-color: $color-resolution-blue;
  box-shadow: 0 0 size(40px) 0 rgba(28, 51, 116, 0.2);
  max-width: size(560px);
  color: $color-default-white;
  display: flex;
  flex-direction: row;
  gap: size(30px);

  div {
    display: flex;
    flex-direction: column;
    gap: size(21px);
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    width: size(80px);
    height: size(80px);
    max-width: unset;
    border-radius: 50%;
  }
}

.feedback__button {
  background-color: transparent;
  position: absolute;
  width: size(56px);
  height: size(56px);
  border: size(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;

  &--previous {
    left: 10%;

    @include vp-1365 {
      left: size(25px);
    }

    @include vp-767 {
      left: size(-5px);
    }
  }

  &--next {
    right: 10%;

    @include vp-1365 {
      right: size(25px);
    }

    @include vp-767 {
      right: size(-5px);
    }
  }

  @include hover-focus {
    border-color: $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;
    border-color: $color-sapphire;

    svg {
      stroke: $color-default-white;
    }
  }

  svg {
    width: size(18px);
    height: size(34px);
    stroke: $color-sapphire;

    @include vp-767 {
      min-width: unset;
      min-height: unset;
      width: size(10px);
      height: size(19px);
    }
  }
}
