$width-block-desktop: size(560px);
$width-block-tablet: size(580px);
$width-block-mobile: size(226px);

.feedback {
  padding-top: size(120px);
  padding-bottom: size(119px);

  @include vp-1365 {
    padding-top: size(101px);
    padding-bottom: size(100px);
  }

  @include vp-767 {
    padding-top: size(70px);
    padding-bottom: size(70px);
  }

  h2 {
    font-family: $ff-alumni;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    margin: 0;
    text-align: center;
    margin-bottom: size(46px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
      margin-bottom: size(41px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
      margin-bottom: size(46px);
    }
  }
}

.feedback__main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.feedback__slider {
  width: $width-block-desktop;
  min-height: size(260px);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 size(40px) 0 rgba(28, 51, 116, 0.2);

  @include vp-1365 {
    width: $width-block-tablet;
    min-height: size(249px);
  }

  @include vp-767 {
    width: $width-block-mobile;
    min-height: size(328px);
  }
}

.feedback__wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.feedback__slide {
  padding: size(60px);
  background-color: $color-resolution-blue;
  color: $color-default-white;
  width: $width-block-desktop;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: size(30px);

  @include vp-1365 {
    padding: size(60px) size(65px);
    width: $width-block-tablet;
  }

  @include vp-767 {
    flex-direction: column;
    padding: size(30px) size(25px);
    width: $width-block-mobile;
    gap: size(10px);
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: size(21px);

    @include vp-1365 {
      gap: size(12px);
    }

    @include vp-767 {
      gap: size(16px);
    }
  }

  h3 {
    margin: 0;
    font-size: size(22px);
    font-weight: 400;
    line-height: size(22px);

    @include vp-1365 {
      font-size: size(20px);
      line-height: size(20px);
    }

    @include vp-767 {
      font-size: size(18px);
    }
  }

  p {
    margin: 0;

    @include vp-767 {
      font-size: size(14px);
      font-weight: 300;
      line-height: size(22px);
    }
  }

  img {
    width: size(80px);
    height: size(80px);
    max-width: unset;
    border-radius: 50%;
    object-fit: cover;

    @include vp-767 {
      width: size(68px);
      height: size(68px);
    }
  }
}

.feedback__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: size(56px);
  position: absolute;
  width: calc($width-block-desktop + size(152px));
  bottom: 9%;
  transform: translateY(-77%);

  @include vp-1365 {
    width: calc($width-block-tablet + size(140px));
    bottom: 13%;
    transform: translateY(-92%);
  }

  @include vp-767 {
    width: calc($width-block-mobile + size(120px));
    bottom: 14%;
  }
}

.feedback__button {
  width: size(56px);
  height: size(56px);
  border: size(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &--previous {
    // left: -10%;

    @include vp-1365 {
      // left: size(25px);
    }

    @include vp-767 {
      // left: size(-5px);
    }
  }

  &--next {
    // right: -10%;

    @include vp-1365 {
      // right: size(25px);
    }

    @include vp-767 {
      // right: size(-5px);
    }
  }

  @include hover-focus {
    border-color: $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;
    border-color: $color-sapphire;

    svg {
      stroke: $color-default-white;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  svg {
    width: size(18px);
    height: size(34px);
    stroke: $color-sapphire;

    @include vp-767 {
      min-width: unset;
      min-height: unset;
      width: size(10px);
      height: size(19px);
    }
  }
}
