.footer-links {
  background-color: $color-black-russian;
  padding: size(40px) size(103px);

  @include vp-1365 {
    padding: size(45px) size(46px);
  }

  @include vp-767 {
    padding: size(27px) size(15px) size(45px);
  }
}

.footer-links__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer-links__logo {
  color: $color-default-white;
  font-size: size(24px);
  font-weight: 400;
  text-transform: uppercase;

  @include vp-1365 {
    font-size: size(22px);
    line-height: size(22px);
    padding-top: size(2px);
  }

  @include vp-767 {
    font-size: size(20px);
    line-height: size(20px);
    padding: 0;
    margin-bottom: size(26px);
  }
}

.footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0 size(16px) 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: size(40px);

  @include vp-1365 {
    padding: 0 size(5px) 0 0;
    gap: size(30px);
  }

  @include vp-767 {
    gap: size(36px);
    padding: 0;
    justify-content: flex-start;
    row-gap: size(16px);
    margin-bottom: size(53px);
  }
}

.footer-links__link {
  color: $color-default-white;
  font-size: size(14px);
  line-height: size(22px);

  @include vp-767 {
    line-height: size(20px);
  }
}
