.gym {
  background-color: $color-default-white;
  padding-top: size(115px);
  position: relative;

  @include vp-1365 {
    padding-top: size(100px);
  }

  @include vp-767 {
    padding: 0;
    padding-top: size(70px);
  }
}

.gym__main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @include vp-1365 {
    flex-direction: column;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.gym__description {
  max-width: 31%;
  flex-direction: column;
  align-items: start;

  @include vp-1365 {
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
  }

  @include vp-767 {
    max-width: 100%;
    margin: 0;
    padding: 0 size(15px);
    align-items: start;
  }

  h1 {
    font-family: $ff-alumni;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(2.3px);
    margin: 0 0 size(30px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.69px);
      margin-bottom: size(18px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(1px);
      margin-bottom: size(13px);
    }
  }

  span {
    display: block;
    font-size: size(22px);
    font-weight: 400;
    line-height: size(22px);
    margin-bottom: size(95px);

    @include vp-1365 {
      margin-bottom: size(33px);
      letter-spacing: size(-0.8px);
    }

    @include vp-767 {
      margin-bottom: 13%;
      font-size: size(18px);
      line-height: size(20px);
      letter-spacing: unset;
    }
  }
}

.gym__text-wrapper {
  flex-direction: column;

  @include vp-1365 {
    margin-bottom: size(36px);
  }

  @include vp-767 {
    margin-bottom: size(50px);
  }

  p {
    margin: 0;
    letter-spacing: size(-0.15px);

    &:first-child {
      margin-bottom: 2%;

      @include vp-1365 {
        margin: 0;
      }
    }

    &:last-child {
      @include vp-1365 {
        display: none;
      }
    }

    @include vp-1365 {
      letter-spacing: size(-0.19px);
    }

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
      letter-spacing: size(-0.14px);
    }
  }
}

.gym__image {
  img {
    height: 100%;
    min-width: size(660px);
    min-height: size(400px);
    padding: size(5px) 0;

    @include vp-1365 {
      width: 100%;
      padding: size(2px) 0;
      min-height: unset;
    }

    @include vp-767 {
      min-width: size(320px);
    }
  }
}

.gym__video {
  position: absolute;
  min-height: size(228px);
  min-width: size(364px);
  top: 78%;
  left: 50%;
  transform: translateX(-39%);

  @include vp-1365 {
    min-width: size(265px);
    min-height: size(167px);
    top: 87%;
    left: 33%;
    transform: translateY(1%);
  }

  @include vp-767 {
    min-width: unset;
    width: 100%;
    left: 0;
    top: 106%;
    transform: unset;
  }

  video {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: inherit;
    min-width: inherit;
    z-index: -5;

    @include vp-1365 {
      min-height: inherit;
      min-width: inherit;
    }

    @include vp-767 {
      max-height: size(167px);
      object-fit: cover;
      width: 100%;
    }
  }

  iframe {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: inherit;
    min-width: inherit;
    z-index: -5;

    @include vp-1365 {
      min-height: inherit;
      min-width: inherit;
    }

    @include vp-767 {
      max-height: size(167px);
      object-fit: cover;
      width: 100%;
    }
  }

  div {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    @include vp-1365 {
      max-width: size(72px);
    }
  }

  img {
    min-width: size(100px);

    @include vp-1365 {
      min-width: size(72px);
    }
  }
}
