.gym {
  background-color: $color-default-white;
  padding-top: size(115px);
  position: relative;

  @include vp-1365 {
    padding-top: size(100px);
  }

  @include vp-767 {
    padding: 0;
    padding-top: size(70px);
  }
}

.gym__main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @include vp-1365 {
    flex-direction: column;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.gym__description {
  max-width: 31%;
  flex-direction: column;
  align-items: start;

  @include vp-1365 {
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
  }

  @include vp-767 {
    max-width: 100%;
    margin: 0;
    padding: 0 size(15px);
    align-items: start;
  }

  h2 {
    font-family: $ff-alumni;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    margin: 0 0 size(30px);

    @include vp-1365 {
      font-size: size(42px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
      margin-bottom: size(20px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      letter-spacing: size(0.96px);
      margin-bottom: size(13px);
    }
  }

  span {
    display: block;
    font-size: size(22px);
    font-weight: 400;
    line-height: size(22px);
    margin-bottom: size(95px);

    @include vp-1365 {
      font-size: size(20px);
      line-height: size(20px);
      margin-bottom: size(34px);
    }

    @include vp-767 {
      margin-bottom: 13%;
      font-size: size(18px);
      line-height: size(20px);
    }
  }
}

.gym__text-wrapper {
  flex-direction: column;

  @include vp-1365 {
    margin-bottom: size(33px);
  }

  @include vp-767 {
    margin-bottom: size(47px);
  }

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 2%;

      @include vp-1365 {
        margin: 0;
      }
    }

    &:last-child {
      @include vp-1365 {
        display: none;
      }
    }

    @include vp-767 {
      font-size: size(14px);
      line-height: size(22px);
    }
  }
}

.gym__image {
  img {
    height: 100%;
    min-width: size(660px);
    min-height: size(400px);
    padding: size(5px) 0;

    @include vp-1365 {
      width: 100%;
      min-height: unset;
    }

    @include vp-767 {
      min-width: size(320px);
    }
  }
}

.gym__video {
  position: absolute;
  min-height: size(228px);
  min-width: size(364px);
  top: 78%;
  left: 50%;
  transform: translateX(-39%) translateY(-1%);

  @include vp-1365 {
    min-width: size(265px);
    min-height: size(167px);
    top: 87%;
    left: 33%;
    transform: translateX(-1%);
  }

  @include vp-767 {
    min-width: unset;
    width: 100%;
    left: 0;
    top: 105%;
    transform: translateY(size(3px));
  }

  video {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: size(228px);
    min-width: size(364px);
    z-index: -5;

    @include vp-1365 {
      min-width: unset;
      min-height: unset;
      width: size(265px);
      height: size(167px);
    }

    @include vp-767 {
      max-height: size(167px);
      object-fit: cover;
      width: 100%;
    }
  }

  iframe {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: size(228px);
    min-width: size(364px);
    z-index: -5;

    @include vp-1365 {
      min-width: unset;
      min-height: unset;
      width: size(265px);
      height: size(167px);
    }

    @include vp-767 {
      max-height: size(167px);
      object-fit: cover;
      width: 100%;
    }
  }

  div {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: size(72px);
    height: size(72px);
    border-radius: 50%;
    background: $outlining-red-to-right;
    border: 0;
    outline: size(2px) solid rgba(245, 199, 212, 0.2);
    outline-offset: size(12px);
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;

    @include vp-1365 {
      width: size(52px);
      height: size(52px);
      outline-offset: size(8px);
    }

    @include hover-focus {
      background: $color-default-white;
      outline-color: $color-sapphire;

      span {
        border-left-color: $color-sapphire;
      }
    }

    @include active {
      background: $color-default-white;
      outline-color: $color-sapphire;

      span {
        border-left-color: $color-sapphire;
      }
    }

    @include disabled {
      background: $color-default-white;
      outline-color: $color-sapphire;
      opacity: 0.2;

      span {
        border-left-color: $color-sapphire;
        opacity: 0.2;
      }
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    border-top: size(8px) solid transparent;
    border-left: size(13px) solid $color-default-white;
    border-bottom: size(8px) solid transparent;
    display: inline-block;
  }
}
