.hero {
  display: flex;
  flex-direction: row;
  padding-bottom: size(119px);
  justify-content: space-between;
  max-width: size(955px);

  @include vp-1365 {
    padding-bottom: size(100px);
    justify-content: space-between;
    max-width: size(678px);
    margin: 0 auto;
  }

  @include vp-767 {
    padding-bottom: size(70px);
  }
}

.hero__description {
  color: $color-default-white;
  padding-top: size(62px);
  padding-bottom: size(62px);
  text-align: right;
  max-width: size(385px);
  margin-right: size(70px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: size(23px);

  @include vp-1365 {
    max-width: size(324px);
    padding-top: size(31px);
    padding-bottom: size(31px);
    column-gap: size(26px);
    margin-right: size(30px);
  }

  @include vp-767 {
    column-gap: unset;
    max-width: size(290px);
    padding-top: size(37px);
    padding-bottom: unset;
    margin: 0 auto;
  }

  p {
    font-family: $ff-alumni;
    font-size: size(54px);
    font-weight: 600;
    line-height: size(54px);
    letter-spacing: size(1.62px);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: size(10px);
    grid-area: 1/2/2/3;

    @include vp-1365 {
      font-size: size(43px);
      line-height: size(42px);
      letter-spacing: size(1.26px);
    }

    @include vp-767 {
      font-size: size(32px);
      line-height: size(32px);
      margin-bottom: size(14px);
    }
  }

  h2 {
    font-family: $ff-alumni;
    font-size: size(92px);
    font-weight: 800;
    line-height: size(110px);
    letter-spacing: size(4.8px);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: size(50px);
    grid-area: 2/2/3/3;

    @include vp-1365 {
      font-size: size(73px);
      line-height: size(84px);
      margin-bottom: size(52px);
      letter-spacing: size(0.5px);
    }

    @include vp-767 {
      font-size: size(62px);
      line-height: size(70px);
      letter-spacing: size(1.86px);
      margin-bottom: size(59px);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    font-family: $ff-roboto;
    font-size: size(14px);
    font-weight: 400;
    line-height: size(22px);
    grid-area: 2/1/3/2;
    margin: auto;

    @include vp-1365 {
      padding-top: size(5px);
    }

    @include vp-767 {
      line-height: size(20px);
      letter-spacing: unset;
      margin-right: size(16px);
      padding-top: size(16px);
    }
  }

  a {
    padding: size(25px) size(55px);
    // заменить паддинг на поменьше - который 55
    border: size(2px) solid $color-default-white;
    color: $color-default-white;
    text-transform: uppercase;
    font-size: size(12px);
    font-weight: 700;
    line-height: size(12px);
    letter-spacing: size(0.6px);
    grid-area: 3/2/4/3;
    max-width: size(230px);
    justify-self: end;

    @include vp-1365 {
      padding: size(20px) 0;
      min-width: size(185px);
      text-align: center;
    }

    @include vp-767 {
      width: 100%;
      max-width: unset;
      grid-area: 3/1/4/3;
      padding: size(20px);
    }
  }
}

.hero__image {
  img {
    min-width: size(500px);

    @include vp-1365 {
      min-width: size(324px);
      height: 100%;
      object-fit: cover;
    }

    @include vp-767 {
      display: none;
    }
  }
}
