.jury {
  position: relative;
}

.jury__title {
  margin: 0;
  font-family: $ff-alumni;
  font-size: size(54px);
  font-weight: 600;
  line-height: size(54px);
  letter-spacing: size(1.62px);

  @include vp-1365 {
    font-size: size(42px);
    line-height: size(42px);
    letter-spacing: size(1.26px);
    text-align: center;
    margin-top: size(2px);
  }

  @include vp-767 {
    font-size: size(32px);
    line-height: size(32px);
    letter-spacing: size(0.96px);
  }
}

.jury__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: size(45px) 0 size(120px) 0;
  overflow-x: hidden;

  @include vp-1365 {
    margin: 0 size(55px);
    padding: size(38px) 0 size(100px) 0;
  }

  @include vp-767 {
    margin: 0 size(32px);
    padding: size(42px) 0 size(70px) 0;
  }
}

.jury__slide {
  width: size(260px);
  position: relative;

  @include vp-1365 {
    width: size(268px);
    height: size(294px);
  }

  @include vp-767 {
    width: size(226px);
    height: size(274px);
  }

  img {
    display: block;
    width: 100%;
    // height: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
  }

  @include hover-focus {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: $color-sapphire;
      opacity: 0.9;
    }

    .jury__name {
      bottom: 77%;
    }

    .jury__sport,
    .jury__details-list {
      display: block;
    }
  }
}

.jury__name {
  position: absolute;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  bottom: size(24px);
  left: 50%;
  transform: translateX(-50%);
  font-size: size(22px);
  font-weight: 400;
  line-height: size(22px);
  width: max-content;

  @include hover-focus {
    outline: size(3px) solid $color-sapphire;
  }

  @include vp-1365 {
    font-size: size(20px);
    line-height: size(20px);
    bottom: size(26px);
  }

  @include vp-767 {
    font-size: size(22px);
    line-height: size(22px);
  }
}

.jury__sport {
  display: none;
  position: absolute;
  margin: 0;
  color: #b6bdcc;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.jury__details-list {
  display: none;
  position: absolute;
  font-size: size(14px);
  font-weight: 400;
  line-height: size(22px);
  margin: 0;
  padding: 0;
  color: $color-default-white;
  top: 45%;
  left: 25%;
  max-width: size(160px);
}

.jury__details-item {
  padding-bottom: size(12px);
}

.jury__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: size(56px);
  position: absolute;
  width: 96%;
  bottom: 46%;
  left: size(27px);
  transform: translateY(size(-3px));

  @include vp-1365 {
    width: 93%;
    bottom: 46%;
    transform: unset;
  }
}

.jury__button {
  // position: absolute;
  width: size(56px);
  height: size(56px);
  border: size(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &--previous {
    // left: size(26px);

    @include vp-1365 {
      // left: size(25px);
    }

    @include vp-767 {
      // left: size(-5px);
    }
  }

  &--next {
    // right: size(26px);

    @include vp-1365 {
      // right: size(25px);
    }

    @include vp-767 {
      // right: size(-5px);
    }
  }

  @include hover-focus {
    border-color: $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;
    border-color: $color-sapphire;

    svg {
      stroke: $color-default-white;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  svg {
    width: size(18px);
    height: size(34px);
    stroke: $color-sapphire;

    @include vp-767 {
      min-width: unset;
      min-height: unset;
      width: size(10px);
      height: size(19px);
    }
  }
}
