.main-footer__wrapper {
  display: flex;
  flex-direction: row;

  @include vp-1365 {
    flex-direction: column;
  }
}

.main-footer__gift {
  background-color: $color-sapphire;
  width: 50%;
  padding: size(60px) size(60px) size(59px) size(103px);

  @include vp-1365 {
    width: 100%;
    padding: size(99px);
  }

  @include vp-767 {
    padding: size(70px) size(15px);
  }
}

.main-footer__title {
  margin: 0;
  font-family: $ff-alumni;
  font-size: size(54px);
  font-weight: 600;
  line-height: size(54px);
  letter-spacing: size(1.62px);

  &--gift {
    color: $color-default-white;
    margin-bottom: size(31px);
  }

  &--contacts {
    margin-bottom: size(40px);
  }

  @include vp-1365 {
    font-size: size(42px);
    line-height: size(42px);
    letter-spacing: size(1.26px);
    margin: 0 0 size(30px) size(35px);

    &--contacts {
      margin-bottom: size(40px);
    }
  }

  @include vp-767 {
    font-size: size(32px);
    line-height: size(32px);
    letter-spacing: size(0.96px);
    margin: 0 0 size(36px) 0;
  }
}
