.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: size(30px);
  padding-bottom: size(29px);

  @include vp-1365 {
    padding-top: size(29px);
    padding-bottom: size(28px);
  }

  @include vp-767 {
    padding-top: size(15px);
    padding-bottom: size(16px);
  }

  a {
    color: $color-default-white;
    font-size: size(26px);
    font-weight: 700;
    line-height: size(26px);
    border-bottom: size(1px) solid transparent;
    transition: 0.4s;

    @include hover-focus {
      color: $color-resolution-blue;
    }

    @include active {
      color: $color-sapphire;
      border-bottom: size(1px) solid $color-sapphire;
    }

    @include disabled {
      color: $color-ghost-white;
    }

    @include vp-1365 {
      font-size: size(24px);
      line-height: size(26px);
      margin-right: size(1px);
    }

    @include vp-767 {
      font-size: size(22px);
      line-height: size(22px);
    }
  }

  img {
    min-width: size(120px);

    @include vp-1365 {
      min-width: unset;
      width: size(110px);
      max-height: size(24px);
    }

    @include vp-767 {
      min-width: unset;
      max-width: size(102px);
      max-height: size(22px);
    }
  }
}
