.news__message {
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: size(79px) size(80px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: size(69px);

  @include vp-1365 {
    padding: size(40px) size(45px) size(42px) size(45px);
    column-gap: size(42px);
  }

  @include vp-767 {
    padding: size(40px);
  }
}

.news__title {
  font-family: $ff-alumni;
  font-size: size(82px);
  font-weight: 600;
  line-height: size(76px);
  letter-spacing: size(2.46px);
  text-transform: uppercase;
  margin: 0;
  grid-area: 1/1/2/2;
  width: min-content;
  padding-top: 2px;

  @include vp-1365 {
    font-size: size(48px);
    line-height: size(46px);
    letter-spacing: size(1.44px);
    padding-top: 0;
  }

  @include vp-767 {
    padding-right: size(6px);
  }
}

.news__subtitle {
  font-size: size(18px);
  margin: 0;
  grid-area: 2/1/3/3;
  padding-bottom: size(54px);

  @include vp-1365 {
    margin: size(3px) 0 0;
    padding-bottom: size(18px);
  }

  @include vp-767 {
    font-size: size(16px);
    line-height: size(20px);
    padding-bottom: size(20px);
  }
}

.news__details {
  grid-area: 1/2/2/3;
  padding-bottom: size(20px);

  @include vp-1365 {
    padding-bottom: unset;
  }

  @include vp-767 {
    padding-bottom: size(7px);
  }
}

.news__fill-button {
  font-size: size(12px);
  font-weight: 700;
  line-height: size(12px);
  letter-spacing: size(0.6px);
  color: $color-default-white;
  text-transform: uppercase;
  background-color: unset;
  border: size(2px) solid $color-default-white;
  padding: size(25px);
  grid-area: 3/1/4/3;
  height: fit-content;
  justify-content: center;
  user-select: none;
  transition: 0.4s;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  @include disabled {
    opacity: 0.5;
  }

  @include vp-1365 {
    padding: size(20px);
  }
}

.news__image {
  img {
    min-width: size(660px);
    height: 100%;

    @include vp-1365 {
      min-width: size(386px);
      max-height: size(324px);
    }

    @include vp-767 {
      min-width: size(290px);
    }
  }
}
