.subscription__wrapper {
  background-color: $color-ghost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: size(125px);
  padding-bottom: size(120px);

  @include vp-1365 {
    padding-top: size(100px);
    padding-bottom: size(102px);
  }

  @include vp-767 {
    padding-top: size(74px);
    padding-bottom: size(70px);
  }
}

.subscription__header {
  font-family: $ff-alumni;
  font-size: size(54px);
  font-weight: 600;
  line-height: size(54px);
  letter-spacing: size(1.62px);
  margin: 0;
  margin-bottom: size(34px);

  @include vp-1365 {
    font-size: size(42px);
    line-height: size(42px);
    letter-spacing: size(1.26px);
    margin-bottom: size(37px);
  }

  @include vp-767 {
    font-size: size(32px);
    line-height: size(32px);
    letter-spacing: size(0.96px);
    margin-bottom: size(22px);
  }
}

.subscription__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: size(50px);
  padding: 0;
  border-bottom: size(2px) solid rgba(120, 120, 120, 0.2);
  margin: 0 0 size(36px);

  @include vp-1365 {
    gap: size(54px);
    margin-bottom: size(45px);
  }

  @include vp-767 {
    gap: size(45px);
    margin-bottom: size(34px);
  }
}

.subscription__item {
  position: relative;
}

.subscription__button {
  font-size: size(20px);
  font-weight: 400;
  line-height: size(20px);
  color: #848fa8;
  background-color: transparent;
  border: none;
  padding: 0;
  padding-bottom: size(11px);
  cursor: pointer;
  outline: none;

  &.is-active {
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-crimson;
      width: fill-available;
      height: size(2px);
      top: 99%;
      left: 0;
      display: block;
    }
  }

  @include vp-1365 {
    font-size: size(18px);
    line-height: size(18px);
    padding-bottom: size(12px);
  }

  @include vp-767 {
    font-size: size(16px);
    line-height: size(16px);
    padding-bottom: size(15px);
  }

  @include hover-focus {
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-crimson;
      width: fill-available;
      height: size(2px);
      top: 99%;
      left: 0;
      display: block;
    }
  }

  @include disabled {
    color: $color-sapphire;
    opacity: 0.3;

    &::after {
      content: "";
      position: absolute;
      background-color: $color-sapphire;
      width: fill-available;
      height: size(2px);
      top: 99%;
      left: 0;
      display: block;
    }
  }
}

.subscription__image {
  position: absolute;
  bottom: 54%;
  right: -12%;
  transform: translateY(size(-14px));

  img {
    width: size(450px);

    @include vp-1365 {
      width: size(380px);
    }
  }

  @include vp-1365 {
    bottom: 44%;
    right: -7%;
    min-width: size(380px);
    transform: translateY(size(-26px));
  }

  @include vp-767 {
    display: none;
  }
}
