.container {
  width: 100%;
  max-width: size(1920px);
  margin: 0 auto;
  padding: 0 size(40px);
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 300;
  font-size: size(16px);
  line-height: size(24px);
  color: $color-sapphire;
  padding: 0 size(103px);


  @include vp-1365 {
    padding: 0 size(45px);
  }

  @include vp-767 {
    padding: 0 size(15px);
  }
}
