@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/AlumniSansSemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/AlumniSansExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/RobotoCondensedLight.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/RobotoCondensedRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/RobotoCondensedBold.woff2") format("woff2");
}

@font-face {
  font-family: "Rouble";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/rouble.woff2") format("woff2");
}
