// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphire: #102654;
$color-egyptian-blue: #103aae;
$color-crimson: #d10A42;
$color-resolution-blue: #1c3374;
$color-ghost-white: #f8f9fc;
$color-torch-red: #ed0233;
$color-black-russian: #030a1a;
$color-torch-red-error: #ff121f;


// Gradient
$main-red-to-right: conic-gradient(from 151deg at 16% 39%, #003d85 32deg, #b80027 313deg);
$outlining-red-to-right: linear-gradient(97deg, $color-torch-red 17%, #003eb7 95%);
$additional-red-to-right: linear-gradient(128deg, $color-crimson 0%, #0041ca 46%);


// $black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-alumni: "Alumni Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
// $vp-375:                            375px;
$vp-768: 768px;
// $vp-1024:                           1024px;
// $vp-1280:                           1280px;
$vp-1366: 1366px;
// $vp-1440:                           1440px;
// $vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
